//Variables
$primary: #68BD45;
$primary-text: #e0f1d9;
$white: #ffffff;
$dark-grey: #4c4c4c;
$light-grey: #F5F5F5;
$blue: #007bff;

//Misc.
.container-push {
  margin-top: 20px;
}

.vh-center {
  margin-top: calc(100vh - 70vh);
}

.navbar-toggler {
  background: $white;
}

//UI Kit Overrides
body {
  background: $light-grey;
}

//AppNavbar
.navbar {
  background: $primary;

  a {
    color: $primary-text;

    &:hover {
      color: $white;
    }

  }

  .dropdown-menu a {
    color: $dark-grey;
  }
}

.header-main {
  background: $white;
}

.section-header {
  margin: 0;
}

//Users Section
.interact-form {
  margin: 30px 5%;
}

//Widgets Wrap
.widgets-wrap {
  a {
    color: $dark-grey;
  }
}

//Search Bar
#btn-search {
  border: none;
  background: $dark-grey;
}

//Sign in
#sign-in {
  background: $primary;
  color: $white;
}

//Carousel
.carousel-inner .carousel-item img {
  width: 100%;
  max-height: 500px;
  min-width: auto;
  object-fit: cover;
}

.side-margin {
  margin: 0 5%;
}

.product-title {
  color: $dark-grey;
}

//Footer
.section-footer {
  background: $dark-grey;
}

//Products Page
.card-product {

  .product-image {

     img{
       max-height: none;
       -moz-transition: all 0.3s;
       -webkit-transition: all 0.3s;
       transition: all 0.3s;
     }
  }

  &:hover {

    img {
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}

//Product Details Page
.gallery-wrap {

  .img-big-wrap {

    img {
      margin-top: 35px;
    }
  }
}

//Spin Loader
.loader {
  box-sizing: border-box;
  border: 16px solid $primary-text;
  border-top: 16px solid $primary;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top: 40%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.internalServer{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #c72d2d;
}